<launch>
  <arg name="focal_len"  default="1.0"/>
  <arg name="field_size" default="0.25"/>
  <arg name="resolution" default="0.1"/>
  <arg name="voc_file" default="$(find ORB_SLAM2)/Vocabulary/ORBvoc.bin"/>
  <arg name="settings_file" default="$(find ORB_SLAM2)/config/mono.yaml"/>
  <arg name="image_topic" default="/usb_cam/image_raw"/>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>

  <node name="Monopub" pkg="ORB_SLAM2"  type="Monopub" 
        args = "$(arg voc_file) $(arg settings_file)" output="screen">

       <remap from="/camera/image_raw" to="$(arg image_topic)" />

       <param name="publish_pointcloud" type="bool" value="true" />
       <param name="publish_pose" type="bool" value="true" />
       <param name="localize_only" type="bool" value="false" />
       <param name="reset_map" type="bool" value="false" />

       <!-- static parameters -->
       <param name="load_map" type="bool" value="false" />
       <param name="map_file" type="string" value="map.bin" />
       <param name="settings_file" type="string" value="$(find ORB_SLAM2)/config/mono.yaml" />
       <param name="voc_file" type="string" value="$(find ORB_SLAM2)/Vocabulary/ORBvoc.txt" />

       <param name="pointcloud_frame_id" type="string" value="map" />
       <param name="camera_frame_id" type="string" value="camera_link" />
       <param name="min_num_kf_in_map" type="int" value="5" />

       <param name="focal_len" type="double" value="$(arg focal_len)" />
       <param name="field_size" type="double" value="$(arg field_size)" />
       <param name="resolution" type="double" value="$(arg resolution)" />
  </node>
</launch>